node_modules

.cache
.env
.vercel
.output

/build/
/public/build
/api/index.js
/api/index.js.map

firebaseServiceAccountKey.json
firebase-debug.log
firestore-debug.log
ui-debug.log

# Tailwind css output
app/styles/*.css
